<nav aria-label="breadcrumb" style="align-items: center;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">New User</li>
  </ol>
</nav>

{{#if alert}}
<div style="width: 300px;display: flex;justify-content: center;align: center;" class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<div style="height: 50vh; width: 100vw;display: flex;justify-content: center;align-items: center;">
  <form style="margin-top:35px;padding: 60px 40px;border-radius: 10px;font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;" method="POST" action="/adduser" novalidate>
    {{> user-form}}
  </form>
</div>