
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Roll No. : </label>
    <input style="width: 300px;" type="number" name="roll" required class="form-control" value="{{this.roll}}" id="exampleInputEmail1">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name : </label>
    <input style="width: 300px;" type="text" name="name" required class="form-control" value="{{this.name}}" id="exampleInputEmail1" >
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Date of Birth : </label>
    <input style="width: 300px;" type="date" name="dob" class="form-control" value="{{this.dob}}" id="exampleInputEmail1">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Score : </label>
    <input style="width: 300px;" type="number" name="score" required class="form-control" value="{{this.score}}" id="exampleInputEmail1">
  </div>
  <button type="submit" class="btn btn-success">Add</button>
